body {
    margin: 0;
}

/*HEADER SECTION*/

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(255, 199, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0;
    color: rgb(139, 74, 110);
}
h3 {
    padding-right: 10px;
}

/* LOGO AND SUBSCRIBE SECTION*/

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#newsletter {
    padding-top: 0px;
}
#subscribe {
    background-image: url("alarmclock.png");
    background-size: 20%;
    background-repeat: no-repeat;
    
    margin: 5px 8px;
    padding: 0px 6px 16px 80px;
    background-color: rgb(247, 148, 164);
    display: flex;
    flex-direction: column;
}
#subscribeinput {
    display: flex;
}

#alarmclock {
    height: 30px;
    width: 30px;
}
/*  NAVIGATION SECTION */

#nav {
    display: flex;
    flex-direction: row;
    
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 74, 110);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(171, 224, 171, 0.979);
}

 /* MAIN PAGE CONTENT */
#topheader {
    margin-left: 20px;
}

#imagesmain {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    justify-content: space-between;
    margin-left: 20px;
    
}

#mainpage {
    display: flex;
    flex-direction: row;
}

#instructions {
    width: 600px;
    margin-left: 20px;
    height: 600px;
    line-height: 2em;
}
#thirddiy {
    display: flex;
    flex-direction: row;
}
#instructions2 {
    display: flex;
    flex-direction: column;
    width: 600px;
    line-height: 2em;
    margin-left: 20px;
}
