body {
    margin: 0;
}

/*HEADER SECTION*/

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(255, 199, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0;
    color: rgb(139, 74, 110);
}
h3 {
    padding-right: 10px;
}

/* LOGO AND SUBSCRIBE SECTION*/

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#newsletter {
    padding-top: 0px;
}
#subscribe {
    background-image: url("alarmclock.png");
    margin: 5px 8px;
    padding: 0px 6px 16px 80px;
    background-color: rgb(247, 148, 164);
    display: flex;
    flex-direction: column;
}
#subscribeinput {
    display: flex;
}

/*  NAVIGATION SECTION */

#nav {
    display: flex;
    flex-direction: row;
}